/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1300px) and (max-width: 1880px) {
  .carousel {
    height: 550px;
  }
}
@media all and (min-width: 1224px) and (max-width: 1300px) {
  .carousel {
    height: 550px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1224px) {
  .carousel {
    height: 500px;
  }
}

@media all and (min-width: 900px) and (max-width: 1024px) {
  .carousel {
    height: 500px;
  }
}

@media all and (min-width: 800px) and (max-width: 900px) {
  .carousel {
    height: 450px;
  }
}

@media all and (min-width: 690px) and (max-width: 800px) {
  .carousel {
    height: 350px;
  }
}

@media all and (min-width: 480px) and (max-width: 690px) {
  .carousel {
    height: 450px;
  }
}

@media all and (max-width: 480px) {
}
