/* purgecss start ignore */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.arrows {
  position: absolute;
  top: 21rem;
  font-size: 2rem;
  /* opacity: 0.4; */
}

.arrows.left {
  left: 1rem;
}

.arrows.right {
  right: 1rem;
}

.caption-header {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.2rem;
}

.carousel-images {
  object-fit: contain;
  object-position: center;
  /* position: relative; */
  /* height: 400px; */
}

.carousel-image-1 {
  top: -400px;
}

.carousel-image-2 {
  top: -800px;
}

.carousel-image-3 {
  top: -1200px;
}

.carousel-image-4 {
  top: -1600px;
}

.carousel-root {
  height: 60vh;
  width: 100vw;
}

.carousel-slider {
  height: 100%;
}

.carousel-wrapper {
  margin-left: 10rem;
  margin-right: 10rem;
}

.slide {
  background: aliceblue;
}

.slider.animated {
  height: 100%;
}

.slider-wrapper {
  height: 100%;
}

.control-arrow:hover {
  background: none !important;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before,
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  content: "";
}

.carousel .control-arrow:focus,
.carousel .control-arrow:hover {
  opacity: 0.4 !important;
  filter: alpha(opacity=100) !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 10px solid black !important;
}
.carousel .control-next.control-arrow:before {
  border-left: 10px solid black !important;
}

@media only screen and (max-width: 600px) {
  .carousel .control-next.control-arrow:before,
  .carousel .control-prev.control-arrow:before {
    visibility: hidden;
  }
}
