/* purgecss start ignore */
@tailwind base;
@tailwind components;
article a {
  color: rgb(49, 49, 182);
  text-decoration: underline;
}
/* purgecss end ignore */
@tailwind utilities;

.carousel-image {
  height: 100% !important;
  object-fit: cover;
  object-position: center;
}

.carousel-root {
  height: 65vh;
  width: 100vw;
}
.carousel-slider {
  height: 100%;
}

.carousel-wrapper {
  background: #dedede;
}

.slider.animated {
  height: 100%;
}

.slider-wrapper {
  height: 100%;
}

.control-arrow:hover {
  background: none !important;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 40px solid transparent !important;
  border-bottom: 40px solid transparent !important;
  content: "";
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 40px solid transparent !important;
  border-bottom: 40px solid transparent !important;
  content: "";
}

.carousel .control-prev.control-arrow:before {
  border-right: 40px solid #fff !important;
}
.carousel .control-next.control-arrow:before {
  border-left: 40px solid #fff !important;
}
